<div class="modal fade" id="specificationModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">

      <div class="modal-header">
        <h2 class="mb-0 mt-2 modal-title">
          <b>Thông số kỹ thuật</b>
        </h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body py-0">
        <app-specification-table [product]="product"></app-specification-table>
      </div>

      <div class="modal-footer py-0">
        <app-policy-service></app-policy-service>
      </div>
    </div>
  </div>
</div>