<div class="container common border pt-2">
    <div class="row">
        <p class="text-center my-4 big-title">VỀ CHÚNG TÔI</p>
    </div>
    <div class="row">
        <div class="col-lg-6 pt-2 order-lg-1 order-2">
            <img class="img-fluid w-100 my-2" src="assets/Images/Introduce/about-us-2.png">
            <img class="img-fluid w-100 my-2" src="assets/Images/Introduce/about-us-1.png">
        </div>
        <div class="col-lg-6 order-lg-2 order-1">
            <div>
                <p class="title">Giới thiệu</p>
                <p>
                    <b>Hoàng Phúc Digital</b> là một đơn vị hoạt động trong lĩnh vực còn khá mới mẻ của nền kinh tế Việt
                    Nam hiện nay.
                    Tuy mới ra đời và phát triển, nhưng <b>Hoàng Phúc Digital</b> đã đạt được những bước phát triển
                    không ngừng trong
                    việc hỗ trợ và phát triển hệ thống an ninh cho các cá nhân và doanh nghiệp.
                    <br><br>
                    <b>Hoàng Phúc Digital</b> cung cấp cho khách hàng những giải pháp hoàn hảo nhất về các vấn đề camera
                    an ninh, quan
                    sát, thiết bị báo cháy, chống trộm, cổng an ninh…
                    <br><br>
                    Với đội ngũ nhân viên nhiệt tình và sáng tạo cùng phong cách làm việc chuyên nghiệp, <b>Hoàng Phúc
                        Digital</b> cam
                    kết mang đến cho khách hàng những sản phẩm chất lượng cao, đáp ứng và thỏa mãn mọi nhu cầu của người
                    dùng. <b>Hoàng Phúc Digital</b> luôn cố gắng, nỗ lực hết mình để mang đến những sản phẩm, dịch vụ uy
                    tín, chất
                    lượng nhất nhằm đáp ứng nhu cầu ngày càng cao của người sử dụng thông thái, mang đến cho khách hàng
                    những trải nghiệm mới mẻ và thú vị.
                    <br><br>
                    Không dừng lại ở đó, <b>Hoàng Phúc Digital</b> luôn nỗ lực, tìm tòi, học hỏi và sáng tạo hơn nữa để
                    ngày càng hoàn
                    thiện và phát triển một cách toàn vẹn nhất. <b>Hoàng Phúc Digital</b> hướng tới việc trở thành một
                    công ty hàng đầu
                    Việt Nam trong lĩnh vực phân phối và lắp đặt hệ thống các thiết bị an ninh.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div>
                <p class="title">Sứ mệnh</p>
                <p>
                    Ngay từ những ngày đầu thành lập, <b>Hoàng Phúc Digital</b> đã xác định rõ sứ mệnh của mình: đó là
                    trở thành
                    đối tác tin cậy nhất của khách hàng, cung cấp đầy đủ các sản phẩm và dịch vụ với chất lượng cao
                    nhất, đa dạng nhất.
                    <br><br>
                    Thứ 2, <b>Hoàng Phúc Digital</b> luôn cố gắng tạo dựng cho cán bộ công nhân viên một môi trường làm
                    việc tốt
                    nhất, nhiều cơ hội để phát triển năng lực, đóng góp giá trị và tạo dựng sự nghiệp thành đạt.
                    <br><br>
                    Thứ 3, <b>Hoàng Phúc Digital</b> sẽ phát huy hết nội lực cũng như ngoại lực, mang lại cho cổ đông
                    những lợi ích
                    hấp dẫn và lâu dài, thông qua chiến lược phát triển kinh doanh: nhanh, mạnh, song song với những
                    chiến lược quản trị doanh nghiệp
                </p>
            </div>
        </div>
        <div class="col-lg-6 pt-lg-5 mb-1">
            <img class="img-fluid w-100" src="assets/Images/Introduce/about-us-4.png">
        </div>
    </div>
    <div class="row">
        <p>
            Không có bí quyết nào dẫn tới THÀNH CÔNG. Đó là kết quả của sự chuẩn bị kỹ càng, làm việc chăm chỉ, và hơn
            hết là bài học từ những THẤT BẠI trước đó.
        </p>
    </div>
    <div class="row my-1">
        <img class="img-fluid" src="assets/Images/Introduce/about-us-3.png">
    </div>
    <div class="row mt-1">
        <p>
            Sự tin tưởng và ủng hộ của khách hàng trong suốt thời gian qua là nguồn động viên to lớn trên bước đường
            phát
            triển của <b>Hoàng Phúc Digital</b>. Chúng tôi xin hứa sẽ không ngừng hoàn thiện, phục vụ khách hàng tốt
            nhất để luôn
            xứng đáng với niềm tin ấy
        </p>
    </div>
    <div class="row">
        <p class="text-center my-4 big-title">Tại sao bạn nên chọn Hoàng Phúc Digital?</p>
        <p>
            1.Chúng tôi lựa chọn nhà phân phối cung cấp sản phẩm chính hãng, uy tín để cung cấp cho khách hàng
            những giá
            trị thật của sản phẩm.
            <br><br>
            2.Dịch vụ lắp đặt camera nhanh với đội ngũ nhân viên kỹ thuật có kinh nghiệm phù hợp cho từng công ty
            từng mục đích của khách hàng.
            <br><br>
            3.Dịch vụ bảo hành và chăm sóc khách hàng sau bán hàng chu đáo đúng chức năng đúng trách nhiệm
            phục vụ khách hàng.
            <br><br>
            4.ĐỔI MỚI MIỄN PHÍ TRONG 30 NGÀY Nếu sản phẩm lỗi do nhà sản xuất.
            <br><br>
            5.GIAO HÀNG MIỄN PHÍ 10km tính từ chi nhánh gần nhất.
            <br><br>
            6.BẢO HÀNH TẬN NƠI. Nhân viên đến bảo hành tận nhà khách hàng.
            <br><br>
            7.HỖ TRỢ KỸ THUẬT 24/7. Đội ngũ nhân viên CSKH, kỹ thuật viên của chúng tôi luôn sẵn sàng hỗ trợ quý khách mọi
            lúc.
        </p>
        <p class="text-center my-2" style="font-size: 25px;">sự <b>HÀI LÒNG</b> của <b>QUÝ KHÁCH</b> là <b>TÔN CHỈ</b> hoạt động của <b>CHÚNG TÔI</b></p>
    </div>
    <div class="row d-md-none d-block">
        <p class="text-center my-4 big-title">Liên hệ</p>
        <p>
            <b>Trụ sở chính:</b><br>
            24 Trường Sơn, Phường 2, Tân Bình, Thành phố Hồ Chí Minh.
            <br><br>
            <b>Chi nhánh miền bắc:</b><br>
            164 Khuất Duy Tiến, Phường Nhân Chính, Quận Thanh Xuân, Thành phố Hà Nội.
            <br><br>
            <b>Chi nhánh miền trung:</b><br>
            178 Trần Phú, Phường Phước Ninh, Quận Hải Châu, Thành phố Đà Nẵng.
            <br><br>
            <b>Số hotline:</b>
            <a style="color: white;" href="tel:0961776806">0961776806</a>
            <br><br>
            <b>
            Số điện thoại CSKH (24/7):
            </b>
            <a style="color: white;" href="tel:0969076447">0969076447</a>
            <br><br>
            <b>Email:</b>
            hoangphucdigital@gmail.com
        </p>
    </div>
</div>