<div class="container mb-2 common ">
    <div class="row p-2 ">
        <div class="col-md-2 col-4 px-md-3 p-0 ">
            <img class="img-fluid" src="assets/Images/Products/{{item.thumbnail}}.png">
        </div>
        <div class="col-md-10 col-8 ">
            <div class="row ">
                <div class="col-md-6 pt-2 ">
                    <strong>{{item.name}}</strong>
                    <p class="d-md-block d-none">SKU: {{item.id}}</p>
                    <p class="inventory_quantity m-0">
                        <i>còn {{item.inventory_quantity}} sản phẩm</i>
                    </p>
                </div>
                <div class="col-md-2 col-4 pt-2 ">
                    <input class="form-control w-md-100" type="number" value="{{item.quantity}}" 
                    min="1" max="{{item.inventory_quantity}}" (change)="changeQuantity(this,$event)">
                </div>
                <div class="col-md-3 col-6 px-md-3 px-1 pt-3 ">
                    <p class="price">{{item.convertPrice(item.price)}}đ</p>
                </div>
                <div class="col-md-1 col-2 pt-3 icon-trash ">
                    <i class="fas fa-trash-alt" (click)="deleteItem(item.id)"></i>
                </div>
            </div>
        </div>
    </div>
</div>