<div class="container-fluid p-0">
    <app-header></app-header>
    <div class="mx-2">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-9 col-sm-12 px-lg-1 p-0 ">
                    <app-general-information [product]="product"></app-general-information>
                </div>
                <div class="col-lg-3 col-sm-12 px-lg-1 p-0  d-lg-block d-none">
                    <app-policy-service></app-policy-service>
                </div>
            </div>
            <div class="row d-flex ">
                <div class=" px-lg-1 p-0 order-md-1 order-3">
                    <app-similar-product></app-similar-product>
                </div>
                <div class=" px-lg-1 p-0 order-md-2 order-1">
                    <app-detail-product [product]="product"></app-detail-product>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 px-lg-1 p-0 ">
                    <app-same-brand></app-same-brand>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>