<div class="container-fluid d-md-none d-block fixed-bottom common mt-2">
    <div class="container ">
        <div class="row pb-md-1 pb-0">
            <div class="col-lg-4 col-md-3 row m-0 p-0 order-md-3 order-1">
                <div class="col-lg-3 col-3 pt-lg-2 pt-md-3 pt-2 px-0 ">
                    <a class="link-navigation" data-toggle="modal" data-target="#discountModal">
                        <div class="w-100 d-flex justify-content-center">
                            <i class="fas fa-tags icon-navigation"></i>
                        </div>
                        <div class="w-100 d-flex justify-content-center d-md-none d-lg-flex d-flex">
                            <p class="title-navigation m-0"> Khuyến mãi</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-3 pt-lg-2 pt-md-3 pt-2 px-0">
                    <a class="link-navigation" data-toggle="modal" data-target="#contactModal">
                        <div class="w-100 d-flex justify-content-center">
                            <i class="fas fa-users icon-navigation"></i>
                        </div>
                        <div class="w-100 d-flex justify-content-center d-md-none d-lg-flex d-flex">
                            <p class="title-navigation m-0"> Liên hệ</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-3 pt-lg-2 pt-md-3 pt-2 px-0">
                    <a class="link-navigation" [routerLink]="['/orders']">
                        <div class="w-100 d-flex justify-content-center">
                            <i class="fas fa-file-invoice-dollar icon-navigation"></i>
                        </div>
                        <div class="w-100 d-flex justify-content-center d-md-none d-lg-flex d-flex">
                            <p class="title-navigation m-0"> Đơn hàng</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-3 pt-lg-2 pt-md-3 pt-2 px-0">
                    <a [routerLink]="['/cart']" class="link-navigation">
                        <div class="w-100 d-flex justify-content-center div-cart">
                            <div class="div-badge" *ngIf="cart_item_quantity!='0'">{{cart_item_quantity}}</div>
                            <i class="fas fa-shopping-cart icon-navigation"></i>
                        </div>
                        <div class="w-100 d-flex justify-content-center d-md-none d-lg-flex d-flex">
                            <p class="title-navigation m-0"> Giỏ hàng</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid common p-0 d-md-block d-none">
    <hr class="m-0 mb-2 p-0" style="background-color: blue; height: 2px;">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-2 col-md-3 mb-3">
                <h4 class="mb-1"><b>Hỗ trợ khách hàng</b></h4>
                <a class="link-footer">Thẻ ưu đãi</a><br>
                <a class="link-footer">Trung tâm bảo hành</a><br>
                <a class="link-footer">Thanh toán và giao hàng</a><br>
                <a class="link-footer">Sửa chữa và bảo trì</a><br>
                <a class="link-footer">Doanh nghiệp thân thiết</a><br>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <h4 class="mb-1"><b>Chính sách Mua hàng và Bảo hành</b></h4>
                <a class="link-footer">Quy định chung</a><br>
                <a class="link-footer">Chính sách bảo mật thông tin</a><br>
                <a class="link-footer">Chính sách vận chuyển và lắp đặt</a><br>
                <a class="link-footer">Chính sách bảo hành</a><br>
                <a class="link-footer">Chính sách đổi trả và hoàn tiền</a><br>
                <a class="link-footer">Quy định giá cả và hình thức thanh toán</a><br>
                <a class="link-footer">Chính sách trả góp</a><br>
            </div>
            <div class="col-lg-2 col-md-3 mb-3">
                <h4 class="mb-1"><b>Giới thiệu doanh nghiệp</b></h4>
                <a class="link-footer">Giới thiệu Hoàng Phúc</a><br>
                <a class="link-footer">Thông tin liên hệ</a><br>
                <a class="link-footer">Hệ thống showroom</a><br>
                <a class="link-footer">Hỏi đáp</a><br>
                <a class="link-footer">Tin công nghệ</a><br>
                <a class="link-footer">Tuyển dụng</a><br>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <h4 class="mb-1"><b>Cộng đồng Hoàng Phúc</b></h4>
                <a class="link-footer">
                    <i class="fab fa-facebook-square"></i>
                    Hoàng Phúc Việt Nam
                </a><br>
                <a class="link-footer">
                    <i class="fab fa-youtube"></i>
                    Hoàng Phúc Media
                </a><br>
                <a class="link-footer">
                    <i class="fas fa-users"></i>
                    Hoàng Phúc Hội
                </a><br>
                <a class="link-footer">
                    <i class="fas fa-phone-square"></i>
                    Gọi mua hàng: 0969076447 (Miễn phí)
                </a><br>
                <a class="link-footer">
                    <i class="fas fa-phone-square"></i>
                    Gọi chăm sóc: 0378898687 (Miễn phí)
                </a><br>
                <a class="link-footer">
                    <i class="fas fa-comments"></i>
                    Chat với tư vấn viên
                </a><br>
            </div>
            <div class="col-lg-2 col-md-6 mb-3">
                <h4 class="mb-1"><b>Email liên hệ</b></h4>
                <a class="link-footer">Hỗ trợ khách hàng: cskh@hoangphuc.vn</a><br>
                <a class="link-footer">Liên hệ báo giá: baogia@hoangphuc.vn</a><br>
                <a class="link-footer">Hợp tác phát triển: hoptac@hoangphuc.vn</a><br>
            </div>
        </div>
        <div class="row my-3 ">
            <div class="col-md-4 ">
                <h4 class="mb-1"><b>Phương thức thanh toán</b></h4>
                <div class="d-flex float-left ">
                    <div class="div-payment px-2 ">
                        <div class="d-flex justify-content-center">
                            <i class="fas fa-qrcode icon-payment"></i>
                        </div>
                        <div class="d-flex justify-content-center">
                            <p class="title-payment">QR Code</p>
                        </div>
                    </div>
                    <div class="div-payment px-2 ">
                        <div class="d-flex justify-content-center">
                            <i class="fas fa-money-bill icon-payment"></i>
                        </div>
                        <div class="d-flex justify-content-center">
                            <p class="title-payment">Tiền mặt</p>
                        </div>
                    </div>
                    <div class="div-payment px-2 ">
                        <div class="div-payment ">
                            <i class="far fa-clock icon-payment"></i>
                        </div>
                        <div class="d-flex justify-content-center">
                            <p class="title-payment">Trả góp</p>
                        </div>
                    </div>
                    <div class="div-payment px-2 ">
                        <div class="d-flex justify-content-center">
                            <i class="fas fa-credit-card icon-payment"></i>
                        </div>
                        <div class="d-flex justify-content-center">
                            <p class="title-payment">Internet banking</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 ">
                <h4 class="mb-1"><b>Danh sách các ngân hàng thanh toán online</b></h4>
                <img class="img-fluid" src="https://phongvu.vn/media/wysiwyg/phongvu/phongvu_v3/banklist.jpg">
            </div>
        </div>
    </div>
    <div class="container-fluid py-3" style="background-color: #e9edf2;">
        <div class="container ">
            <div class="row mt-2 ">
                <div class="col-md-5 ">
                    <h3><b>CÔNG TY CỔ PHẦN THƯƠNG MẠI - DỊCH VỤ HOÀNG PHÚC</b></h3>
                    <p class="m-0">© 1997 - 2020 Công Ty Cổ Phần Thương Mại - Dịch Vụ Hoàng Phúc</p>
                    <p class="m-0">Giấy chứng nhận đăng ký doanh nghiệp: 0304998358 do Sở KH-ĐT TP.HCM cấp lần đầu ngày
                        30 tháng 05 năm
                        2007</p>
                </div>
                <div class="col-md-5 ">
                    <h3 class="m-0"><b>Địa chỉ trụ sở chính:</b></h3>
                    <p class="m-0">212/58 Thoại Ngọc Hầu, Phường Phú Thạnh, Quận Tân Phú, Thành Phố Hồ Chí Minh</p>
                    <h3 class="m-0"><b>Địa chỉ chi nhánh 1:</b></h3>
                    <p class="m-0">158/31M Xuân Thới Thượng 31, Xã Xuân Thới Thượng, Huyện Hóc Môn, Thành Phố Hồ Chí
                        Minh</p>
                </div>
                <div class="col-md-2 ">
                    <img class="img-fluid" src="https://phongvu.vn/media/wysiwyg/phongvu/phongvu_v3/da-dang-ky.png">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center py-3">
            <div class="col-lg-4 col-md-8 col-12 border border-dark rounded">
                <h2 class="m-0 text-center">Đồ án môn học Thương mại điện tử</h2>
                <p class="m-0 text-center">Nhóm 5</p>
                <p class="m-0 text-center">Nguyễn Hoàng Linh - 3118410227</p>
                <p class="m-0 text-center">Lâm Vĩnh Hưng - 3118410168</p>
                <p class="m-0 text-center">Phạm Thanh Tuấn - 3118410464</p>
                <p class="m-0 text-center">Trịnh Gia Khang - 3118410186</p>
                <p class="m-0 text-center">Quách Bảo Huy - 3118410159</p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="discountModal" tabindex="-1" role="dialog" aria-labelledby="discountModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title m-0" id="discountModalLabel">Thông tin khuyến mãi</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Cảm ơn quý khách đã tin tưởng <strong>Hoàng Phúc Digital</strong>.
                Chúng tôi có nhiều chương trình khuyến mãi, chiết khấu cho từng đối lượng.
                Quý khách vui lòng liên hệ theo số điện thoại
                <a href="tel:0961776806">
                    <strong style="color: blue;">0961776806</strong>
                </a>
                (CSKH) để được tư vấn mua hàng cùng các chương trình khuyến mãi.
            </div>
        </div>
    </div>
</div>
<div class="modal fade px-0" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title m-0" id="contactModalLabel">Liên hệ</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <b>Trụ sở chính:</b>
                    24 Trường Sơn, Phường 2, Tân Bình, Thành phố Hồ Chí Minh.
                    <br>
                    <b>Chi nhánh miền bắc:</b>
                    164 Khuất Duy Tiến, Phường Nhân Chính, Quận Thanh Xuân, Thành phố Hà Nội.
                    <br>
                    <b>Chi nhánh miền trung:</b>
                    178 Trần Phú, Phường Phước Ninh, Quận Hải Châu, Thành phố Đà Nẵng.
                    <br>
                    <b>Số hotline:</b>
                    <a style="color: black;" href="tel:0961776806"> 0961776806</a>
                    <br>
                    <b>
                        Số điện thoại CSKH (24/7):
                    </b>
                    <a style="color: black;" href="tel:0969076447"> 0969076447</a>
                    <br>
                    <b>Email:</b>
                    hoangphucdigital@gmail.com
                </p>
            </div>
        </div>
    </div>
</div>