<hr class="m-0 mb-2 p-0" style="background-color: blue; height: 2px;">
<div class="container ">
    <div class="row ">
        <div class="col-lg-2 col-md-3 mb-3">
            <h4 class="mb-1"><b>Hỗ trợ khách hàng</b></h4>
            <a class="link-footer">Thẻ ưu đãi</a><br>
            <a class="link-footer">Trung tâm bảo hành</a><br>
            <a class="link-footer">Thanh toán và giao hàng</a><br>
            <a class="link-footer">Sửa chữa và bảo trì</a><br>
            <a class="link-footer">Doanh nghiệp thân thiết</a><br>
        </div>
        <div class="col-lg-3 col-md-6 mb-3">
            <h4 class="mb-1"><b>Chính sách Mua hàng và Bảo hành</b></h4>
            <a class="link-footer">Quy định chung</a><br>
            <a class="link-footer">Chính sách bảo mật thông tin</a><br>
            <a class="link-footer">Chính sách vận chuyển và lắp đặt</a><br>
            <a class="link-footer">Chính sách bảo hành</a><br>
            <a class="link-footer">Chính sách đổi trả và hoàn tiền</a><br>
            <a class="link-footer">Quy định giá cả và hình thức thanh toán</a><br>
            <a class="link-footer">Chính sách trả góp</a><br>
        </div>
        <div class="col-lg-2 col-md-3 mb-3">
            <h4 class="mb-1"><b>Giới thiệu doanh nghiệp</b></h4>
            <a class="link-footer">Giới thiệu Hoàng Linh</a><br>
            <a class="link-footer">Thông tin liên hệ</a><br>
            <a class="link-footer">Hệ thống showroom</a><br>
            <a class="link-footer">Hỏi đáp</a><br>
            <a class="link-footer">Tin công nghệ</a><br>
            <a class="link-footer">Tuyển dụng</a><br>
        </div>
        <div class="col-lg-3 col-md-6 mb-3">
            <h4 class="mb-1"><b>Cộng đồng Hoàng Linh</b></h4>
            <a class="link-footer">
                <i class="fab fa-facebook-square"></i>
                Hoàng Linh Việt Nam
            </a><br>
            <a class="link-footer">
                <i class="fab fa-youtube"></i>
                Hoàng Linh Media
            </a><br>
            <a class="link-footer">
                <i class="fas fa-users"></i>
                Hoàng Linh Hội
            </a><br>
            <a class="link-footer">
                <i class="fas fa-phone-square"></i>
                Gọi mua hàng: 0969076447 (Miễn phí)
            </a><br>
            <a class="link-footer">
                <i class="fas fa-phone-square"></i>
                Gọi chăm sóc: 0378898687 (Miễn phí)
            </a><br>
            <a class="link-footer">
                <i class="fas fa-comments"></i>
                Chat với tư vấn viên
            </a><br>
        </div>
        <div class="col-lg-2 col-md-6 mb-3">
            <h4 class="mb-1"><b>Email liên hệ</b></h4>
            <a class="link-footer">Hỗ trợ khách hàng: cskh@hoanglinh.vn</a><br>
            <a class="link-footer">Liên hệ báo giá: baogia@hoanglinh.vn</a><br>
            <a class="link-footer">Hợp tác phát triển: hoptac@hoanglinh.vn</a><br>
        </div>
    </div>
    <div class="row my-3 ">
        <div class="col-md-4 ">
            <h4 class="mb-1"><b>Phương thức thanh toán</b></h4>
            <div class="d-flex float-left ">
                <div class="div-payment px-2 ">
                    <div class="d-flex justify-content-center">
                        <i class="fas fa-qrcode icon-payment"></i>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="title-payment">QR Code</p>
                    </div>
                </div>
                <div class="div-payment px-2 ">
                    <div class="d-flex justify-content-center">
                        <i class="fas fa-money-bill icon-payment"></i>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="title-payment">Tiền mặt</p>
                    </div>
                </div>
                <div class="div-payment px-2 ">
                    <div class="div-payment ">
                        <i class="far fa-clock icon-payment"></i>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="title-payment">Trả góp</p>
                    </div>
                </div>
                <div class="div-payment px-2 ">
                    <div class="d-flex justify-content-center">
                        <i class="fas fa-credit-card icon-payment"></i>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="title-payment">Internet banking</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 ">
            <h4 class="mb-1"><b>Danh sách các ngân hàng thanh toán online</b></h4>
            <img class="img-fluid" src="https://phongvu.vn/media/wysiwyg/phongvu/phongvu_v3/banklist.jpg">
        </div>
    </div>
</div>
<div class="container-fluid py-3" style="background-color: #e9edf2;">
    <div class="container ">
        <div class="row mt-2 ">
            <div class="col-md-5 ">
                <h3><b>CÔNG TY CỔ PHẦN THƯƠNG MẠI - DỊCH VỤ HOÀNG LINH</b></h3>
                <p class="m-0">© 1997 - 2020 Công Ty Cổ Phần Thương Mại - Dịch Vụ Hoàng Linh</p>
                <p class="m-0">Giấy chứng nhận đăng ký doanh nghiệp: 0304998358 do Sở KH-ĐT TP.HCM cấp lần đầu ngày 30 tháng 05 năm
                    2007</p>
            </div>
            <div class="col-md-5 ">
                <h3 class="m-0"><b>Địa chỉ trụ sở chính:</b></h3>
                <p class="m-0">212/58 Thoại Ngọc Hầu, Phường Phú Thạnh, Quận Tân Phú, Thành Phố Hồ Chí Minh</p>
                <h3 class="m-0"><b>Địa chỉ chi nhánh 1:</b></h3>
                <p class="m-0">158/31M Xuân Thới Thượng 31, Xã Xuân Thới Thượng, Huyện Hóc Môn, Thành Phố Hồ Chí Minh</p>
            </div>
            <div class="col-md-2 ">
                <img class="img-fluid" src="https://phongvu.vn/media/wysiwyg/phongvu/phongvu_v3/da-dang-ky.png">
            </div>
        </div>
    </div>
</div>