<div class="container-fluid common">
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
            <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselIndicators" data-slide-to="1"></li>
            <li data-target="#carouselIndicators" data-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner">
            <div class="carousel-item active border">
                <img class="d-block w-100" src="assets/Images/Introduce/slider-1.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/Images/Introduce/slider-2.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/Images/Introduce/slider-3.png" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="row row-catolog px-4">
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-2 px-md-4 px-0">
            <a href="./#wifi-camera">
                <div class="product-catolog-1 row pt-2">
                    <div class="col-12">
                        <p class="m-0 catolog-title text-center">CAMERA WIFI</p>
                    </div>
                    <div class="col-6 mt-4">
                        <p class="m-0 text-right discount">Giảm đến</p>
                        <p class="m-0 text-right discount-value">
                            400.000đ
                        </p>
                        <p class="mt-2 border rounded text-center w-100 py-2">Xem thêm</p>
                    </div>
                    <div class="col-6 p-0">
                        <img class="img-fluid" src="assets/Images/Introduce/camera-wifi.png">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-2 px-md-4 px-0">
            <a href="./#secure-camera">
                <div class="product-catolog-2 row pt-2">
                    <div class="col-12">
                        <p class="m-0 catolog-title text-center">CAMERA GIÁM SÁT</p>
                    </div>
                    <div class="col-6 mt-4">
                        <p class="m-0 text-right discount">Giảm đến</p>
                        <p class="m-0 text-right discount-value">
                            550.000đ
                        </p>
                        <p class="mt-2 border rounded text-center w-100 py-2">Xem thêm</p>
                    </div>
                    <div class="col-6">
                        <img class="img-fluid" src="assets/Images/Introduce/camera-giam-sat.png">
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-6 mb-lg-0 mb-2 px-md-4 px-0">
            <a href="./#camera-set">
                <div class="product-catolog-3 row pt-2">
                    <div class="col-12">
                        <p class="m-0 catolog-title text-center">BỘ CAMERA</p>
                    </div>
                    <div class="col-6 mt-4">
                        <p class="m-0 text-right discount">Giảm đến</p>
                        <p class="m-0 text-right discount-value">
                            45%
                        </p>
                        <p class="mt-2 border rounded text-center w-100 py-2">Xem thêm</p>
                    </div>
                    <div class="col-6">
                        <img class="img-fluid" src="assets/Images/Introduce/bo-camera.png">
                    </div>
                </div>
            </a>
        </div>

        <!-- <div class="col-lg-3 col-md-6 mb-lg-0 mb-2 px-md-4 px-0">
            <div class="product-catolog-4 row pt-2">
                <div class="col-12">
                    <p class="m-0 catolog-title text-center">KHÓA CỬA THÔNG MINH</p>
                </div>
                <div class="col-6 mt-4">
                    <p class="m-0 text-right discount">Giảm đến</p>
                    <p class="m-0 text-right discount-value">
                        28%
                    </p>
                    <p class="mt-2 border rounded text-center w-100 py-2">Xem thêm</p>
                </div>
                <div class="col-6 p-0">
                    <img class="img-fluid" src="assets/Images/Introduce/khoa-cua-thong-minh.png">
                </div>
            </div>
        </div> -->

        <div class="col-lg-3 col-md-6 mb-lg-0 mb-2 px-md-4 px-0">
            <a href="./#record-device">
                <div class="product-catolog-4 row pt-2">
                    <div class="col-12">
                        <p class="m-0 catolog-title text-center">ĐẦU GHI HÌNH</p>
                    </div>
                    <div class="col-6 mt-4">
                        <p class="m-0 text-right discount">Giảm đến</p>
                        <p class="m-0 text-right discount-value">
                            28%
                        </p>
                        <p class="mt-2 border rounded text-center w-100 py-2">Xem thêm</p>
                    </div>
                    <div class="col-6 p-0">
                        <img class="img-fluid" src="assets/Images/Introduce/dau-ghi-hinh.png">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- <div class="product-catolog-1 row pt-2">
        <div class="col-12">
            <p class="m-0 catolog-title">CAMERA WIFI</p>
        </div>
        <div class="col-6 mt-4">
            <p class="m-0 text-right discount">Giảm đến</p>
            <p class="m-0 text-right discount">
                <b>400.000đ</b>
            </p>
            <p class="mt-2 border rounded text-center w-100 py-2">Xem thêm</p>
        </div>
        <div class="col-6">
            <img class="img-fluid" src="assets/Images/Introduce/camera-wifi.png">
        </div>
    </div>
    <div class="product-catolog-2 row pt-2">
        <div class="col-12">
            <p class="m-0 catolog-title">CAMERA GIÁM SÁT</p>
        </div>
        <div class="col-6 mt-4">
            <p class="m-0 text-right discount">Giảm đến</p>
            <p class="m-0 text-right discount">
                <b>550.000đ</b>
            </p>
            <p class="mt-2 border rounded text-center w-100 py-2">Xem thêm</p>
        </div>
        <div class="col-6 p-0">
            <img class="img-fluid" src="assets/Images/Introduce/camera-giam-sat.png">
        </div>
    </div>
    <div class="product-catolog-3 row pt-2">
        <div class="col-12">
            <p class="m-0 catolog-title">BỘ CAMERA</p>
        </div>
        <div class="col-6 mt-4">
            <p class="m-0 text-right discount">Giảm đến</p>
            <p class="m-0 text-right discount">
                <b>45%</b>
            </p>
            <p class="mt-2 border rounded text-center w-100 py-2">Xem thêm</p>
        </div>
        <div class="col-6 p-0">
            <img class="img-fluid" src="assets/Images/Introduce/bo-camera.png">
        </div>
    </div>
    <div class="product-catolog-4 row pt-2">
        <div class="col-12">
            <p class="m-0 catolog-title">KHÓA CỬA THÔNG MINH</p>
        </div>
        <div class="col-6 mt-2">
            <p class="m-0 text-right discount">Giảm đến</p>
            <p class="m-0 text-right discount">
                <b>28%</b>
            </p>
            <p class="mt-2 border rounded text-center w-100 py-2">Xem thêm</p>
        </div>
        <div class="col-6 p-0">
            <img class="img-fluid" src="assets/Images/Introduce/khoa-cua-thong-minh.png">
        </div>
    </div> -->
</div>