<div class="container common my-2 pt-3 px-3">
    <div class="free-shipping d-flex">
        <i class="fas fa-shipping-fast icon-shipping"></i>
        <p>&nbsp;Sản phẩm được miễn phí giao hàng</p>
    </div>
    <hr class="m-0">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-12 policy py-2">
            <h3 class="m-0"><strong>Chính sách bán hàng</strong></h3>
            <div class="d-flex py-1">
                <i class="far fa-check-circle icon"></i>
                <p class="m-0">&nbsp;Cam kết hàng chính hãng 100%</p>
            </div>
            <div class="d-flex py-1">
                <i class="fas fa-truck icon"></i>
                <p class="m-0">&nbsp;Miễn phí giao hàng từ 800.000đ</p>
            </div>
            <div class="d-flex py-1">
                <i class="fas fa-sync-alt icon"></i>
                <p class="m-0">&nbsp;Đổi trả trong 10 ngày</p>
            </div>
        </div>
        <div class="col-lg-12 col-md-6 col-12 service py-2">
            <h3 class="m-0"><strong>Dịch vụ khác</strong></h3>
            <div class="d-flex py-1">
                <i class="fas fa-cogs icon"></i>
                <p class="m-0">&nbsp;Sửa chữa đồng giá 150.000đ</p>
            </div>
            <div class="d-flex py-1">
                <i class="fas fa-video icon"></i>
                <p class="m-0">&nbsp;Kiểm tra thiết bị</p>
            </div>
            <div class="d-flex py-1">
                <i class="fas fa-home icon"></i>
                <p class="m-0">&nbsp;Bảo hành tại nhà</p>
            </div>
        </div>
    </div>
</div>