<div class="modal fade" id="modal-order-detail" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title font-weight-bold m-0" id="ModalLabel">Thông tin đơn đặt hàng</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="order!=undefined">
                <h4 class="m-0"><strong>MÃ ĐƠN HÀNG:</strong> {{order._id}}</h4>
                <div class="row ">
                    <h3 class="m-0 text-warning" *ngIf="order.status==0">ĐƠN HÀNG ĐÃ HỦY</h3>
                    <h3 class="m-0 text-warning" *ngIf="order.status==1">ĐƠN HÀNG ĐANG CHỜ XỬ LÝ</h3>
                    <h3 class="m-0 text-warning" *ngIf="order.status==2">ĐƠN HÀNG CHỜ THANH TOÁN</h3>
                    <h3 class="m-0 text-warning" *ngIf="order.status==3">ĐƠN HÀNG ĐÃ THANH TOÁN</h3>
                </div>
                <div class="row ">
                    <div class="col-lg-6 pl-lg-3 pr-lg-1 px-1">
                        <div class="border rounded p-2">
                            <h3 class="mb-1"><strong>Thông tin người nhận</strong></h3>
                            <p class="m-0"><b>Người nhận: </b>{{order.name}}</p>
                            <p class="m-0" *ngIf="order.location_home==true"><b>Phương thức giao hàng:
                                </b>giao hàng tại nhà</p>
                            <p class="m-0" *ngIf="order.location_showroom==true"><b>Phương thức giao hàng:
                                </b>nhận hàng tại showroom</p>
                            <p class="m-0" *ngIf="order.location_home==true"><b>Địa chỉ: </b>{{order.home_number}}
                                {{order.street}}, phường
                                {{order.ward}},
                                quận {{order.district}}, thành phố {{order.city}}</p>
                            <p class="m-0" *ngIf="order.location_showroom==true"><b>Địa chỉ showroom: </b>{{order.showroom_info}}</p>
                            <p class="m-0"><b>Điện thoại: </b>{{order.phone_number}}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-lg-1 pr-lg-3 px-1">
                        <div class="border rounded p-2 my-lg-0 my-2">
                            <h3 class="mb-1"><strong>Thông tin đơn hàng</strong></h3>
                            <p class="m-0" *ngIf="order.status==0"><b>Trạng thái đơn hàng: </b>đã hủy</p>
                            <p class="m-0" *ngIf="order.status==1"><b>Trạng thái đơn hàng: </b>đã tiếp nhận</p>
                            <p class="m-0" *ngIf="order.status==2"><b>Trạng thái đơn hàng: </b>chờ thanh toán</p>
                            <p class="m-0" *ngIf="order.status==3"><b>Trạng thái đơn hàng: </b>đã nhận hàng</p>
                            <p class="m-0"><b>Thời gian đặt: </b>{{convertTime(order.order_time)}}</p>
                        </div>
                    </div>
                </div>
                <div class="row  d-none d-md-block mt-2">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Sản phẩm</th>
                                <th class="text-center px-0" scope="col">Giá trị</th>
                                <th class="text-center px-2" scope="col">SL</th>
                                <th class="text-center pl-0 pr-2" scope="col">Tổng tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of order.carts">
                                <th class="row m-0 p-0">
                                    <div class="col-lg-3 col-md-6">
                                        <img class="img-fluid" src="{{item.thumbnail}}" />
                                    </div>
                                    <div class="col-lg-8 col-md-6 mt-lg-4 mt-md-4">
                                        <h3>
                                            <a target="_blank" [routerLink]="['/product', item._id]">
                                                <strong>{{item.name}}</strong>
                                            </a>
                                            <p class="d-none d-lg-block">SKU: {{item._id}}</p>
                                        </h3>
                                    </div>
                                </th>
                                <td class="p-0 text-center">
                                    <div class="mt-md-5">
                                        {{convertPrice(item.price)}}đ
                                    </div>
                                </td>
                                <td class="p-0 text-center text-success">
                                    <div class="mt-md-5">
                                        {{item.quantity}}
                                    </div>
                                </td>
                                <td class="pt-0 text-primary font-weight-bold text-center">
                                    <div class="mt-md-5">
                                        {{convertPrice(item.price*item.quantity)}}đ
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class=" d-block d-md-none">
                    <div class="row border border-left-0 border-right-0 pt-1" *ngFor="let item of order.carts">
                        <div class="col-4 ">
                            <img class="img-fluid" src="{{item.thumbnail}}">
                        </div>
                        <div class="col-8  px-0">
                            <div>
                                <strong>{{item.name}}</strong>
                            </div>
                            <div>SKU: {{item._id}}</div>
                            <div class="d-flex justify-content-between pr-2 mt-3">
                                <p class="text-primary font-weight-bold">{{convertPrice(item.price)}}đ</p>
                                <p>x{{item.quantity}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 justify-content-end">
                    <div class="col-lg-4 col-md-6">
                        <div class="d-flex justify-content-between">
                            <p class="text-muted m-0">Tổng tiền: </p>
                            <p class="font-weigth-bold m-0">{{caculateTotal(order.carts,0)}}đ</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-muted m-0">Phí vận chuyển: </p>
                            <p class="font-weigth-bold m-0">{{(order.deliver_expense).toLocaleString("tr-TR")}}đ</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-muted m-0 pt-1">Thành tiền: </p>
                            <h3 class="font-weight-bold text-danger m-0">{{caculateTotal(order.carts, order.deliver_expense)}}đ</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>