.breadcrumb{
    background-color: white;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
}
.order-list{
    background-color: white;
    border-radius: 20px;
}
.table{
    cursor: pointer;
}

@media screen and (max-width: 500px){
    .column-name{
        display: none;
    }
}