<div class="container common my-3 p-0">
    <p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="3" [numScroll]="2" [circular]="true"
        [autoplayInterval]="5000" [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
            <h2 class="mb-0 mt-3 d-flex div-title">
                <p class="m-0 p-2 pr-3 pl-3 title">Sản phẩm bán chạy</p>
            </h2>
        </ng-template>
        <ng-template let-product pTemplate="item">
            <div class="product-item mx-2">
                <a [routerLink]="['/product',product._id]">
                    <div class="product-item-content">
                        <img class="w-100 img-fluid rounded thumbnail-product"
                            src="{{product.thumbnail}}" [alt]="product.name" />
                        <div>
                            <h3 class="mb-0 mt-4">
                                <b>{{product.name}}</b>
                            </h3>
                            <h3 class="m-0" *ngIf="product.price!=0">{{product.convertPrice(product.price)}}đ</h3>
                            <h3 class="m-0" *ngIf="product.price==0">Liên hệ</h3>
                        </div>
                    </div>
                </a>
            </div>
        </ng-template>
    </p-carousel>
</div>