.common{
    background-color: #357b38;
    border-radius: 10px;
}
.big-title{
    font-size: 35px;
    font-weight: 600;
    color: white;
    line-height: 1.2;
}
.info-feedback{
    background-color: #357b38;
    color: white;
    font-size: 16px;
}