<div class="common">
    <app-header></app-header>
    <app-general-carousel></app-general-carousel>
    <!-- <app-advertisement [src]="srcImage2"></app-advertisement> -->
    <app-list-best-sale></app-list-best-sale>
    <!-- <app-advertisement [src]="srcImage1"></app-advertisement> -->
    <app-list-camera-wifi></app-list-camera-wifi>
    <app-list-product></app-list-product>
    <app-list-camera-set></app-list-camera-set>
    <app-list-smart-key></app-list-smart-key>
    <app-introduce></app-introduce>
    <app-feedback></app-feedback>
    <app-list-brand></app-list-brand>
    <app-footer></app-footer>
</div>