<div class="" *ngIf="product!=undefined">
    <table class="table table-striped mt-3">
        <tbody>
            <tr *ngIf="product.brand!=null">
                <th>
                    Thương hiệu
                </th>
                <td>
                    {{product.brand.name}}
                </td>
            </tr>
            <tr *ngIf="product.warranty!=''">
                <th>
                    Bảo hành
                </th>
                <td>
                    {{product.warranty}}
                </td>
            </tr>
            <tr *ngIf="product.color!=''">
                <th>
                    Màu
                </th>
                <td>
                    {{product.color}}
                </td>
            </tr>
            <tr *ngIf="product.resolution!=null">
                <th>
                    Độ phân giải
                </th>
                <td>
                    {{product.resolution.name}}
                </td>
            </tr>
            <tr *ngIf="product.sensor!=''">
                <th>
                    Cảm biến
                </th>
                <td>
                    {{product.sensor}}
                </td>
            </tr>
            <tr *ngIf="product.lens!=''">
                <th>
                    Ống kính
                </th>
                <td>
                    {{product.lens}}
                </td>
            </tr>
            <tr *ngIf="product.power_source!=''">
                <th>
                    Nguồn điện
                </th>
                <td>
                    {{product.power_source}}
                </td>
            </tr>
            <tr *ngIf="product.connect_type!=''">
                <th>
                    Kiểu kết nối
                </th>
                <td>
                    {{product.connect_type}}
                </td>
            </tr>
            <tr *ngIf="product.dimension!=''">
                <th>
                    kích thước
                </th>
                <td>
                    {{product.dimension}}
                </td>
            </tr>
            <tr *ngIf="product.quality!=''">
                <th>
                    Chất lượng hình ảnh
                </th>
                <td>
                    {{product.quality}}
                </td>
            </tr>
            <tr *ngIf="product.store_time!=''">
                <th>
                    Thời gian lưu trữ
                </th>
                <td>
                    {{product.store_time}}
                </td>
            </tr>
            <tr *ngIf="product.compatible_device.length>0">
                <th>
                    Thiết bị tương thích
                </th>
                <td>
                    <p class="m-0" *ngFor="let device of product.compatible_device">{{device}}</p>
                </td>
            </tr>
            <tr *ngIf="product.product_set">
                <th>
                    Sản phẩm
                </th>
                <td>
                    <a target="_blank" *ngFor="let item of product.set_detail" [routerLink]="['/product',item._id]">
                        <p class="m-0 text-info">{{item.quantity}} x {{item.name}}</p>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>