<div class="container-fluid p-0 common">
    <!-- <img class="img-fluid"
        src="https://lh3.googleusercontent.com/scMdiksFUWM2Fq8hDOCoWcIII-LpTvqC78ddZH93ZH0rwuDtURpUKgqwkvPG_AhXSFKVj9KHnGbsgHu595f_zqfaWX5uV7w=w1920-rw" /> -->
    <div class="container ">
        <div class="row ">
            <div class="col-lg-3 col-md-3 text-md-left text-center">
                <a [routerLink]="['']">
                    <img class="img-fluid" src="../../../../assets/Images/logo.png" />
                </a>
            </div>
            <div class="col-9 float-right m-0 p-0 d-md-flex justify-content-end d-none ">
                <div class="d-flex justify-content-end px-2 pt-2 ">
                    <h5>
                        <a class="d-flex" href="tel:0961776806">
                            <i class="fas fa-headset p-1"></i>
                            <p class="m-0" style="color: rgb(255, 255, 255); font-size: 14px;"> Tư vấn mua hàng: </p>
                            <p class="m-0" style="color: rgb(255, 255, 255); font-size: 14px;">0961776806</p>
                        </a>
                    </h5>
                </div>
                <div class="d-flex justify-content-end px-2 pt-2 ">
                    <h5>
                        <a class="d-flex" href="tel:0969076447">
                            <i class="fas fa-phone-volume p-1"></i>
                            <p class="m-0" style="color: rgb(255, 255, 255); font-size: 14px;"> CSKH: &nbsp;</p>
                            <p class="m-0" style="color: rgb(255, 255, 255); font-size: 14px;">0969076447</p>
                        </a>
                    </h5>
                </div>
                <div class="justify-content-end px-2 pt-2 d-none d-lg-flex">
                    <h5>
                        <a class="d-flex">
                            <i class="fab fa-facebook-square p-1"></i>
                            <p class="m-0" style="color: rgb(255, 255, 255); font-size: 14px;">
                                facebook.com/HoangPhucDigiatal.vn </p>
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-md-2 p-0 common sticky-top div-navigation">
    <div class="container ">
        <div class="row pb-md-1 pb-0">
            <div class="col-md-6 col-10 px-md-1 pr-0 pb-md-0 pb-2 order-md-2 order-2">
                <app-search-bar></app-search-bar>
            </div>
            <div class="col-lg-2 col-md-3 col-2 px-0 pb-md-0 pb-2 pt-md-2 order-md-1 order-3">
                <app-menu-categories></app-menu-categories>
            </div>
            <div class="col-lg-4 col-md-3 row m-0 p-0 order-md-3 order-1 d-md-flex d-none">
                <div class="col-lg-3 col-3 pt-lg-2 pt-md-3 pt-2 px-0 ">
                    <a class="link-navigation">
                        <div class="w-100 d-flex justify-content-center">
                            <i class="fas fa-tags icon-navigation"></i>
                        </div>
                        <div class="w-100 d-flex justify-content-center d-md-none d-lg-flex d-flex">
                            <p class="title-navigation m-0"> Khuyến mãi</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-3 pt-lg-2 pt-md-3 pt-2 px-0">
                    <a class="link-navigation" [routerLink]="['/orders']">
                        <div class="w-100 d-flex justify-content-center">
                            <i class="fas fa-file-invoice-dollar icon-navigation"></i>
                        </div>
                        <div class="w-100 d-flex justify-content-center d-md-none d-lg-flex d-flex">
                            <p class="title-navigation m-0"> Đơn hàng</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-3 pt-lg-2 pt-md-3 pt-2 px-0">
                    <a class="link-navigation">
                        <div class="w-100 d-flex justify-content-center">
                            <i class="fas fa-user-circle icon-navigation"></i>
                        </div>
                        <div class="w-100 d-flex justify-content-center d-md-none d-lg-flex d-flex">
                            <p class="title-navigation m-0"> Đăng nhập</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-3 pt-lg-2 pt-md-3 pt-2 px-0">
                    <a [routerLink]="['/cart']" class="link-navigation">
                        <div class="w-100 d-flex justify-content-center div-cart">
                            <div class="div-badge" *ngIf="cart_item_quantity!='0'">{{cart_item_quantity}}</div>
                            <i class="fas fa-shopping-cart icon-navigation"></i>
                        </div>
                        <div class="w-100 d-flex justify-content-center d-md-none d-lg-flex d-flex">
                            <p class="title-navigation m-0"> Giỏ hàng</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>