<div class="container common p-3 ">
    <h2>Thanh toán</h2>
    <div class="d-flex justify-content-between mb-2 ">
        <p class="text m-0">Tạm tính</p>
        <p class="price m-0">{{convertPrice(total)}}đ</p>
    </div>
    <div class="d-flex justify-content-between mb-2 ">
        <p class="text m-0">Phí vận chuyển</p>
        <p class="price m-0">0đ</p>
    </div>
    <div class="d-flex justify-content-between mb-2 ">
        <p class="text m-0">Khuyến mãi</p>
        <p class="price m-0">0đ</p>
    </div>
    <div class="d-flex justify-content-between mb-2 ">
        <p class="text m-0">Thành tiền</p>
        <div>
            <p class="total m-0">{{convertPrice(total)}}đ</p>
            <p class="text m-0">(Đã bao gồm VAT)</p>
        </div>
    </div>
    <div class="">
        <button class="btn btn-payment w-100" data-toggle="modal" data-target="#order-information"
        (click)="isLogin()">Tiếp tục đặt hàng</button>
    </div>
</div>