<div class="common">
    <img class="img-fluid my-1" src="assets/Icons/scroll-to-top.png" (click)="scrollToTop()">
    <a href="tel:0961776806">
        <img class="img-fluid my-1" src="assets/Icons/phone.gif">
    </a>
    <a target="_blank" href="https://m.me/phuc.0104">
        <img class="img-fluid my-1 fb-message" src="assets/Icons/fb-message.png">
    </a>
    <a target="_blank" href="https://zalo.me/0961776806">
        <img class="img-fluid my-1" src="assets/Icons/zalo-message.gif">
    </a>
</div>