.thumbnail{
    text-align: end;
}
.thumbnail{
    position: relative;
}
.thumbnail > img {
    border: 2px solid black;
    border-radius: 5px;
}
.thumbnail > span {
    cursor: pointer;
    position: absolute;
    top: 4%;
    right: 4%;
    color: red;
    font-size: 25px;
}
.text-name{
    margin-top: 35%;
    margin-bottom: 0;
}
.text-price{
    margin-top: 70%;
}
.text-number{
    margin-top: 35%;
}
.text-multiple{
    margin-top: 45%;
}
.div-product-list{
    height: 300px;
    overflow: auto;
}
.text-plus{
    cursor: pointer;
    margin-top: 120%;
}
@media screen and (max-width: 1200px){
    .text-name{
        margin-top: 20%;
    }
    .text-number{
        margin-top: 30%;
    }
    .text-multiple{
        margin-top: 45%;
    }
    .text-price{
        margin-top: 70%;
    }
    .text-plus{
        margin-top: 70%;
    }
}
@media screen and (max-width: 500px){
    .thumbnail{
        text-align: center;
    }
    .thumbnail{
        text-align: center;
    }
    .text-name{
        margin-top: 15%;
    }
    .text-number{
        margin-top: 25%;
    }
    .text-multiple{
        margin-top: 35%;
    }
    .text-plus{
        margin-top: 100%;
    }
}