<div class="container-fluid common ">
    <div class="row">
        <div class="col-md-4 col-6 order-2 order-md-1 d-flex pt-2">
            <p-button type="button" styleClass="p-button-secondary" (click)="visibleSidebar = true" icon="pi pi-list">
            </p-button>
            <h1 class="mx-2 pt-1">
                <strong>DASHBOARD</strong>
            </h1>
        </div>

        <div class="col-md-4 col-12 order-1 order-md-2 d-flex justify-content-center div-logo">
            <img class="img-fluid" src="assets/Images/logo.png">
        </div>

        <div class="col-md-4 col-6 order-3  d-flex justify-content-end">
            <i class="fas fa-user-circle icon px-1"></i>
            <i class="fas fa-bell icon pl-1"></i>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000">
    <h1>Danh mục quản lý</h1>
    <h2 class="text-nav d-flex m-0">
        <a [routerLink]="['/products/management']">
            <i class="fas fa-video icon-nav"></i>
            <strong>Quản lý sản phẩm</strong>
        </a>
    </h2>
    <h2 class="text-nav d-flex m-0 ml-4">
        <a [routerLink]="['/products/management/brand']">
            <strong>Danh sách thương hiệu</strong>
        </a>
    </h2>
    <h2 class="text-nav d-flex m-0 ml-4">
        <a>
            <strong>Danh sách độ phân giải</strong>
        </a>
    </h2>
    <h2 class="text-nav d-flex ml-4">
        <a>
            <strong>Danh sách thể loại</strong>
        </a>
    </h2>
    <h2 class="text-nav d-flex">
        <a>
            <i class="fas fa-file-invoice-dollar icon-nav"></i>
            <strong>Quản lý đơn hàng</strong>
        </a>
    </h2>
    <h2 class="text-nav d-flex">
        <a>
            <i class="fas fa-tags icon-nav"></i>
            <strong>Quản lý khuyến mãi</strong>
        </a>
    </h2>
    <h2 class="text-nav d-flex">
        <i class="fas fa-user icon-nav"></i>
        <strong>Quản lý tài khoản</strong>
    </h2>
    <h2 class="text-nav d-flex">
        <i class="fas fa-users icon-nav"></i>
        <strong>Quản lý khách hàng</strong>
    </h2>
    <h2 class="text-nav d-flex">
        <i class="fas fa-money-bill-wave icon-nav"></i>
        <strong>Doanh thu - Lợi nhuận</strong>
    </h2>
    <h2 class="text-nav d-flex">
        <i class="fas fa-calculator icon-nav"></i>
        <strong>Thống kê</strong>
    </h2>
</p-sidebar>