<app-header></app-header>
<div class="container mb-3 ">
    <div class="d-flex ">
        <div class="breadcrumb my-2 ">
            <i class="fas fa-home"></i>
            <i class="fas fa-angle-right mx-1"></i>
            <p class="m-0">Giỏ hàng</p>
        </div>
    </div>
    <div class="row ">
        <h2 class="pl-3 m-0">
            <strong *ngIf="cart_items.length>0">Giỏ hàng của bạn có {{cart_items.length}} sản phẩm</strong>
            <strong *ngIf="cart_items.length==0">Bạn không có sản phẩm trong giỏ hàng</strong>
        </h2>
        <div class="col-lg-8 my-1 ">
            <app-item *ngFor="let item of cart_items" [item]="item" 
            (remove_item)="removeItem($event)" (change_quantity)="changeItemQuantity($event)"></app-item>
        </div>
        <div class="col-lg-4 my-1 " *ngIf="cart_items.length>0">
            <div class="row ">
                <div class="col-lg-12 col-md-6 ">
                    <app-discount></app-discount>
                </div>
                <div class="col-lg-12 col-md-6 mt-lg-2 mt-md-0 mt-2 ">
                    <app-payment [total]="total"></app-payment>
                </div>
            </div>
        </div>
    </div>
</div>
<app-order-information [cart]="cart_items"></app-order-information>
<app-footer></app-footer>