.card {
    max-width: 400px;
    background-color: #444e5c;
    color: #e0e4ea;
}
.card:hover{
  background-color: #126f53;
}
.common{
  background-color: white;
  border-radius: 10px;
}
.div-services{
  width: 10%;
}
.product-description{
  height: 150px;
}

.btn-load-more{
  width: 15%;
  background-color: #444e5c;
  border: none;
  font-weight: 600;
}
.btn-load-more:hover{
  background-color: #126f53;
}
.title{
  background-color: #232d64;
  color: white;
  font-size: 500;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.div-title{
  border-bottom: 1px solid #232d64;
}
@media screen and (max-width: 1200px){
  .product-description{
    display: none;
  }
}

@media screen and (max-width: 800px){
  .product-description{
    height: 130px;
  }
  .btn-load-more{
    width: 30%;
  }
}

@media screen and (max-width: 400px){
  .product-description{
    height: 110px;
  }
  .btn-load-more{
    width: 60%;
  }
}


