<div class="d-flex justify-content-end justify-content-md-start" *ngIf="listCategories!=undefined && brands!=undefined">
  <button mat-button [matMenuTriggerFor]="categories">
    <i class="fas fa-bars icon-menu-categories d-md-none pt-3"></i>
    <b class="d-none d-md-block title-menu-categories">
      <i class="fas fa-bars icon-menu-categories"></i>
      Danh mục sản phẩm
    </b>
  </button>
  <mat-menu #categories="matMenu">
    <div>
      <div>
        <a [routerLink]="['/products/filter', listCategories[0]._id]" mat-menu-item [matMenuTriggerFor]="listbrands1">{{listCategories[0].name}}</a>
      </div>
      <div>
        <a [routerLink]="['/products/filter', listCategories[1]._id]" mat-menu-item [matMenuTriggerFor]="listbrands2">{{listCategories[1].name}}</a>
      </div>
      <div>
        <a [routerLink]="['/products/filter', listCategories[2]._id]" mat-menu-item [matMenuTriggerFor]="listbrands3">{{listCategories[2].name}}</a>
      </div>
      <div>
        <a [routerLink]="['/products/filter', listCategories[3]._id]" mat-menu-item>{{listCategories[3].name}}</a>
      </div>
      <div>
        <a [routerLink]="['/products/filter', listCategories[4]._id]" mat-menu-item>{{listCategories[4].name}}</a>
      </div>
    </div>
  </mat-menu>

  <mat-menu #listbrands1="matMenu">
    <a [routerLink]="['/products/filter', listCategories[0]._id, brand._id]" mat-menu-item *ngFor="let brand of brands">{{brand.name}}</a>
  </mat-menu>

  <mat-menu #listbrands2="matMenu">
    <a [routerLink]="['/products/filter', listCategories[1]._id, brand._id]" mat-menu-item *ngFor="let brand of brands">{{brand.name}}</a>
  </mat-menu>

  <mat-menu #listbrands3="matMenu">
    <a [routerLink]="['/products/filter', listCategories[2]._id, brand._id]" mat-menu-item *ngFor="let brand of brands">{{brand.name}}</a>
  </mat-menu>

   <!-- <mat-menu #{{category.name}}="matMenu">
    <a mat-menu-item [matMenuTriggerFor]="type_1_1">type_1_1</a>
    <a href="" mat-menu-item [matMenuTriggerFor]="type_1_2">type_1_2</a>
    <a href="" mat-menu-item [matMenuTriggerFor]="type_1_3">type_1_3</a>
    <a href="" mat-menu-item>type_1_4</a>
    <a href="" mat-menu-item>type_1_5</a>
  </mat-menu> -->

  <!-- <mat-menu #category_2="matMenu">
    <a href="" mat-menu-item>type_2_1</a>
    <a href="" mat-menu-item>type_2_2</a>
    <a href="" mat-menu-item>type_2_3</a>
    <a href="" mat-menu-item>type_2_4</a>
    <a href="" mat-menu-item>type_2_5</a>
    <a href="" mat-menu-item>type_2_6</a>
    <a href="" mat-menu-item>type_2_7</a>
  </mat-menu>

  <mat-menu #type_1_1="matMenu">
    <a href="" mat-menu-item>type_1_1_1</a>
    <a href="" mat-menu-item>type_1_1_2</a>
    <a href="" mat-menu-item>type_1_1_3</a>
    <a href="" mat-menu-item>type_1_1_4</a>
    <a href="" mat-menu-item>type_1_1_5</a>
  </mat-menu>

  <mat-menu #type_1_2="matMenu">
    <a href="" mat-menu-item>type_1_2_1</a>
    <a href="" mat-menu-item>type_1_2_2</a>
    <a href="" mat-menu-item>type_1_2_3</a>
    <a href="" mat-menu-item>type_1_2_4</a>
  </mat-menu>

  <mat-menu #type_1_3="matMenu">
    <a href="" mat-menu-item>type_1_3_1</a>
    <a href="" mat-menu-item>type_1_3_2</a>
    <a href="" mat-menu-item>type_1_3_3</a>
    <a href="" mat-menu-item>type_1_3_4</a>
    <a href="" mat-menu-item disabled>type_1_3_5</a>
  </mat-menu> -->

</div>