.product-item .product-item-content {
    margin: 0.3rem;
    text-align: center;
}
.product-item .product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.thumbnail-product{
    height: 300px;
    transition: transform .2s;
}
.thumbnail-product:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.common{
    background-color: white;
    border-radius: 10px;
}
.title{
    background-color: #232d64;
    color: white;
    font-size: 500;
    border-top-right-radius: 7px;
}
.div-title{
    border-bottom: 1px solid #232d64;
}
@media screen and (max-width: 560px) {
    .thumbnail-product{
        height: 200px;
    }
}